@model Eshop
@using WebApp_project.Models
@{
    ViewData["Title"] = "Detail položky";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="card" style="width: 33rem; margin-top:2%;">
            <div class="card-body">
                <h5 class="card-title">Pneumatiky @Html.DisplayFor(x => x.znacka)</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="font-weight:bold">Cena: @Html.DisplayFor(x => x.cena) Kč</li>
                <li class="list-group-item">Značka a model: @Html.DisplayFor(x => x.znacka)</li>
                <li class="list-group-item">Rozměry: @Html.DisplayFor(x => x.rozmery)</li>
                @if (Model.typ == 0)
                {
                    <li class="list-group-item">Typ pneumatik: Letní</li>
                }
                else if (Model.typ == 1)
                {
                    <li class="list-group-item">Typ pneumatik: Zimní</li>
                }
                else if (Model.typ == 2)
                {
                    <li class="list-group-item">Typ pneumatik: Celoroční</li>
                }
                else if (Model.typ == 3)
                {
            <li class="list-group-item">Typ pneumatik: Autobus</li>
                }
                else if (Model.typ == 4)
                {
            <li class="list-group-item">Typ pneumatik: Traktor</li>
                }
                else if (Model.typ == 5)
                {
                    <li class="list-group-item">Typ pneumatik: Nakladní auto</li>
                }
                <li class="list-group-item">Počet skladem: @Html.DisplayFor(x => x.pocet)</li>
                <li class="list-group-item">@Html.DisplayFor(x => x.poznamka)</li>

            </ul>
        </div>
    </div>
</div>
