@model Login
@using WebApp_project.Models
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container d-flex justify-content-center ">
    <div class="row">

        <div class="card" style="width: 21rem; margin-top:2%;">
            <div class="card-body">
                <h5 class="card-title">Přihlášení</h5>
                <p class="card-text">
                    @using (Html.BeginForm())
                    {
                        <div class="mb-3 row">
                            @Html.LabelFor(x => x.login)
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.login)
                                <div style="color:red;margin-top:5px;">@Html.ValidationMessageFor(x => x.login)</div>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            @Html.LabelFor(x => x.heslo)
                            <div class="col-sm-10">
                                @Html.TextBoxFor(x => x.heslo, new { @type = "password" })
                                <div style="color:red;margin-top:5px;">@Html.ValidationMessageFor(x => x.heslo)</div>
                            </div>
                        </div>
                        <br />
                        <button type="submit" class="btn btn-success">Přihlásit </button>
                    }
                </p>
            </div>
            <div style="width: 19rem; margin-top: 2%;">
                @{
                    @Html.Raw(TempData["msg"])
                }
            </div>
        </div>
       
    </div>
</div>


